
body{
    font-family: 'Caveat', 'Dancing+Script', cursive;
    padding-top: 56px;
    /*transition: background 0.5s ease;*/
}

body.light {
    background: linear-gradient(135deg, #f0f4c3, #e0f7fa);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: #000; /* Чёрный текст для светлой темы */
}

body.dark {
    background: linear-gradient(135deg, #737d86, #2c3a42);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: #f5f5f5; /* Молочно-белый цвет текста для тёмной темы */
}

@keyframes gradientAnimation {
    0% {
        background-position: 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 50%;
    }
}




/* Светлая тема для квадратов */
body.light .square {
    background-color: rgba(0, 123, 255, 0.1); /* Цвет текста при наведении */ /* Прозрачный или светлый фон для квадратов */
    color: #000; /* Чёрный текст */
    border: 2px solid #007bff; /* Синяя граница */
    transition: background-color 0.5s, color 0.5s, border 0.5s;
}

/* Тёмная тема для квадратов */
body.dark .square {
    background-color: #2c3e50; /* Прозрачный или тёмный фон для квадратов */
    color: #fff; /* Белый текст */
    border: 2px solid #f1c40f; /* Золотая граница */
    transition: background-color 0.5s, color 0.5s, border 0.5s;
}

.navbar-light {
    background-color: #f8f9fa; /* Цвет фона навигационной панели для светлой темы */
    transition: background-color 0.8s ease; /* Плавный переход для навигационной панели */
}

.navbar-dark {
    background-color: #343a40; /* Цвет фона навигационной панели для темной темы */
    transition: background-color 0.8s ease; /* Плавный переход для навигационной панели */
}

.navbar-nav {
    border-radius: 20px; /* Устанавливаем радиус закругления */
    transition: background-color 0.3s, color 0.3s; /* Добавляем плавный переход */
    background-color: rgba(0, 123, 255, 0.1); /* Цвет фона при наведении */
    color: #007bff; /* Цвет текста при наведении */
}

.nav-link {
    border-radius: 20px; /* Устанавливаем радиус закругления */
    transition: background-color 0.3s, color 0.3s; /* Добавляем плавный переход */
}

.nav-link:hover {
    color: #007bff; /* Change to your desired hover color */
    transform: scale(1.1); /* Slightly scale up the text */
    box-shadow: 0 4px 20px rgba(0, 123, 255, 0.5)
}

.square {
    width: 200px;  /* Ширина квадрата */
    height: 200px; /* Высота квадрата */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #007bff; /* Цвет границы */
    background-color: #f8f9fa; /* Цвет фона */
    margin: 2px; /* Отступ между квадратами */
    transition: transform 0.3s, box-shadow 0.3s; /* Переход для эффектов */

}

.square:hover {
    transform: scale(1.1); /* Увеличение при наведении */
    box-shadow: 0 4px 20px rgba(0, 123, 255, 0.5); /* Тень при наведении */
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; /* Высота 100% от высоты экрана */
}

.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 2.5s ease-out, transform 2.5s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}






